<div *ngIf="!submitted"
     class="modal fade" id="createModal"
     tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title mt-2">Add a New Stock</h3>
        <button type="button" class="close" data-dismiss="modal" id="cancel-x"
                (click)="cancel();" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form novalidate #stockForm="ngForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="newStockName">Stock Name</label>
            <input type="text" id="newStockName" name="newStockName" class="form-control"
                   [ngModel]="newStock.stockName" placeholder="Stock Name" id="new-stock-name"
                   #newStockName="ngModel" required>
            <ngb-alert [type]="'danger'"
                       [hidden]="newStockName.valid || newStockName.pristine"
                       id="error-msg-stockname">
              Please enter the value for the Stock Name
            </ngb-alert>
          </div>
          <div class="form-group">
            <label for="newStockCode">Stock Code:</label>
            <input type="text" id="newStockCode" name="newStockCode" class="form-control"
                   [ngModel]="newStock.stockCode" placeholder="Stock Code" id="new-stock-code"
                   #newStockCode="ngModel" required/>
            <ngb-alert [type]="'danger'"
                       [hidden]="newStockCode.valid || newStockCode.pristine"
                       id="error-msg-stockcode">
              Please enter the value for the Stock Code
            </ngb-alert>
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"
                (click)="cancel();" id="cancel">Close</button>
        <button type="submit" class="btn btn-primary"
                (click)="createStock(newStockCode, newStockName);"
                [disabled]="!stockForm.form.valid"
                data-dismiss="modal" id="add-stock">Add Stock</button>
      </div>
    </div>
  </div>
</div>
